<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Eat da Burger!</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/images/800px_COLOURBOX7372744.jpg">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
  
    <!-- Page Container -->
    <div class="container">
      
      <br>

      <!-- Burger Image -->
   
        <div id="pic" class="row">
          <img src="/assets/images/burger_step5.png" style="width:200px; height:400px; margin: 0 auto;">
        </div>
      

      <!-- Page Title -->
      <center>
        <h1 class="text">Eat da Burger!</h1>
      </center>
      
      <br>
      

      <!-- Burger Content from index.handlebars -->
      {{{body}}}


      <br><br>

      <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="text">Request a new burger and place your order!</label></center>
            <textarea class="form-control" columns="8" rows="4" id="newBurger" name="burger_name"></textarea>
          </div>

          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="subBtn" type="submit" class="btn btn-danger">Place Order</button>
        </center>

      </form>

      <br>

    </div>

    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  </body>
</html>